.good-navbar {
  max-width: 1650px;
}

.search-container {
  position: relative;
}

.search-input {
  height: 50px;
  border-radius: 30px;
  padding-left: 35px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888;
}

.show-search-bar-on-mobile {
  display: none !important;
}

@media (max-width: 1024px) {
  .hide-search-bar-on-mobile {
    display: none !important;
  }

  .show-search-bar-on-mobile {
    display: block !important;
  }

  .hide-news-on-mobile {
    display: none;
  }

  .hide-market-on-mobile {
    display: none;
  }

  .hide-profile-on-mobile {
    display: none;
  }

  .hide-profile-image-on-mobile {
    display: none;
  }

  .good-navbar {
    padding: 10px 7px;
  }
}

@media (min-width: 1024px) {
  .hide-on-desktop {
    display: none;
  }
}

.news-container-for-mobile .news-button {
  border: none; /* Fără bordură */
  padding: 10px; /* Padding */
  width: 100%; /* Lățimea butonului */
  text-align: left; /* Aliniere text la stânga */
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  color: #232a31;
}

.news-container-for-mobile .news-list {
  list-style-type: none; /* Fără puncte */
  padding: 0; /* Fără padding */
  margin: 0; /* Fără margine */
}

.news-container-for-mobile .news-list li {
  padding: 8px 25px; /* Padding pentru fiecare element */
  font-size: 16px;
  color: #5b636a;
}

.news-container-for-mobile .news-list li:last-child {
  border-bottom: none; /* Fără bordură pentru ultimul element */
}
