* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Containerul principal */
.market-container {
  /* padding: 40px 20px; */
  background: transparent !important;
  box-shadow: none !important;
  color: #232a31;
}

.page-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #232a31;
  margin-bottom: 25px !important;
  text-align: left !important;
  /* margin-left: 20px; */
  display: flex;
  justify-content: space-between;
}

.market-container h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #232a31;
}

.page-title-overview {
  font-size: 32px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.download-btn {
  background-color: transparent;
  border: none;
}

.download-icon {
  font-size: 40px;
  color: #232a31;
  margin-right: 0 !important;
  transition: 0.2s color ease-in;
}

.download-btn:hover {
  background-color: initial;
}

.download-btn:hover .download-icon {
  color: #1967d2;
}

.page-subtitle-overview {
  font-size: 24px;
  font-weight: 600;
  color: #232a31;
}

.page-subtitle-overview:hover {
  text-decoration: none;
}

.page-subtitle-overview.small {
  font-size: 16px;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari și Opera */
}

@media (max-width: 768px) {
  .market-container {
    padding: 0 !important;
  }
}
