.table-container {
  overflow-x: auto;
  border-radius: 8px;
}

.table-body tr {
  height: 37px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.custom-table th,
.custom-table td {
  padding: 3px 8px;
  border: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.custom-table td,
.custom-table th {
  text-align: right;
}

.custom-table td.symbol-column,
.custom-table th.symbol-column,
.custom-table td.name-column,
.custom-table th.name-column {
  text-align: left;
}

.custom-table thead th {
  background-color: #f4f4f4;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
}

.custom-table tr {
  font-size: 14px;
}

.custom-table tbody tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

.custom-table td.positive {
  color: green;
}

.custom-table td.negative {
  color: red;
}

/* ----------------------- */
/* Mai jos sunt stiluri pentru coloana de Day Range */
/* ------------------------- */
.range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-range {
  width: 90%;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.9em;
  color: #555;
}

.range-labels span {
  padding: 0 5px;
}

.range-labels span {
  font-size: 12px;
}

/* --------------------------- */
/* Styles for borders in table */
/* --------------------------- */
.custom-table thead th {
  border: none;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #ddd;
}

thead tr th:first-child {
  border: 1px solid #ddd;
  border-bottom: 1px solid #eee;
}

thead tr th:last-child {
  border-right: 1px solid #ddd;
}

.custom-table tbody td {
  border: none;
  border-bottom: 1px solid #eee;
}

/* Adăugăm border-right doar pentru primul td din fiecare tr */
tbody tr td:first-child {
  border-left: 1px solid #ddd;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

tbody tr td:last-child {
  border-right: 1px solid #ddd;
}

.custom-table {
  border-radius: 20px;
}

td.name-column {
  max-width: 145px; /* Setează lățimea maximă a coloanei */
  overflow: hidden; /* Ascunde textul care depășește lățimea */
  text-overflow: ellipsis; /* Adaugă "..." la sfârșitul textului trunchiat */
  white-space: nowrap; /* Nu permite textul să se rupă pe mai multe linii */
  padding-right: 0;
}

p[title] {
  margin-bottom: 0;
}

.underlying-symbol-link {
  color: #1967d2;
  font-weight: bold;
  cursor: pointer;
}

.underlying-symbol-link:hover {
  border-bottom: 1px solid #1967d2;
}

.symbol-link {
  color: #1967d2;
  font-weight: 600;
}

.logo-image {
  width: 24px; /* Lățimea imaginii */
  height: 24px; /* Înălțimea imaginii */
  object-fit: cover; /* Asigură că imaginea se potrivește în dimensiunile specificate */
  margin-right: 5px; /* Spațiu între imagine și text */
  vertical-align: middle; /* Alinierea verticală a imaginii */
  border-radius: 50%; /* Face imaginea rotundă */
  border: 1px solid #ccc; /* Opțional: adaugă o margine pentru un aspect mai definit */
}
