.table-container {
  overflow-x: auto;
  margin: 20px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 12px; /* Diminuează fontul */
}

.custom-table th,
.custom-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
}

.custom-table td,
.custom-table th {
  text-align: right; /* Aliniere la dreapta pentru toate coloanele */
}

.custom-table td.symbol-column,
.custom-table th.symbol-column,
.custom-table td.name-column,
.custom-table th.name-column {
  text-align: left; /* Aliniere la stânga pentru coloanele Symbol și Name */
}

.custom-table thead th {
  background-color: #f4f4f4;
  /* font-weight: normal; */
  font-size: 12px;
}

.custom-table tr {
  font-size: 14px;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tbody tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

.custom-table td.positive {
  color: green;
  /* font-weight: bold; */
}

.custom-table td.negative {
  color: red;
  /* font-weight: bold; */
}

/*  */
/* Mai jos sunt stiluri pentru coloana de Day Range */
/*  */
.range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 5px 0; */
  /* border-bottom: 1px solid #ddd;  */
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-range {
  width: 90%;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.9em;
  color: #555;
}

.range-labels span {
  padding: 0 5px;
}

.range-labels span {
  font-size: 12px;
}
