.show-on-larger-devices {
  display: none;
}

.show-on-smaller-devices {
  display: block;
  max-width: 100%;
  overflow: auto;
}

@media (min-width: 992px) {
  .show-on-larger-devices {
    display: block;
    position: sticky;
    top: 90px;
    z-index: 10;
  }

  .show-on-smaller-devices {
    display: none;
  }
}
