/* ChangePassword.css */

body {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #181A20;
}

.change-password-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181A20;
    padding: 20px; /* Adăugat padding pentru marginile mai mici */
}

.change-password-form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px;
    border-radius: 20px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: -50px;
    min-height: 80vh;
}

.change-password-form h1 {
    font-size: 3rem; /* Dimensiunea titlului mărită */
    font-family: Arial, Helvetica, sans-serif;
    color: #ffc107;
}

.change-password-form .form-label {
    font-size: 1.5rem; /* Dimensiunea fontului pentru etichete */
    font-family: Arial, Helvetica, sans-serif;
}

.change-password-form .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 0.5em;
}

.change-password-form .form-control {
    margin-bottom: 20px;
    padding: 10px 20px; /* Mărit padding-ul */
    width: 100%;
    max-width: 500px; /* Mărit width-ul */
    height: 40px; /* Mărit height-ul */
    border-radius: 20px;
    border: 1px solid rgb(209, 208, 208);
    font-size: 1rem; /* Mărit font-size-ul */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    outline: none;
}

.change-password-form .form-control:hover,
.change-password-form .form-control:focus,
.change-password-form .form-control:active {
    border: 1px solid gray;
    -webkit-transition: 0.5s;
}

.change-password-form .form-check {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    margin-left: 0;
    margin-bottom: 30px;
}

.change-password-form input[type="checkbox"] {
    margin-top: 3px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
}

.change-password-form .form-check-label {
    font-size: 1rem;
    margin-left: 5px;
}

.change-password-form .btn {
    padding: 10px 25px;
    background-color: blue;
    color: white;
    outline: none;
    border: none;
    font-size: 1.25rem;
}

.change-password-form .btn:hover {
    background-color: rgb(70, 70, 238);
    -webkit-transition: 0.3s;
}

.change-password-form .btn:active {
    background-color: rgb(4, 4, 131);
}

.change-password-form .btn:focus {
    outline: none;
}

/* Media Queries pentru responsivitate */
@media (max-width: 768px) {
    .change-password-form {
        padding: 30px;
        margin-top: 0;
    }

    .change-password-form h1 {
        font-size: 2.5rem;
    }

    .change-password-form .form-label {
        font-size: 1.25rem;
    }

    .change-password-form .form-control {
        max-width: 100%;
        height: 35px;
        font-size: 0.875rem;
    }

    .change-password-form .btn {
        font-size: 1rem;
    }

    .change-password-form .form-check {
        flex-direction: column;
        align-items: flex-start;
    }

    .change-password-form .form-check-label {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .change-password-form {
        padding: 20px;
    }

    .change-password-form h1 {
        font-size: 2rem;
    }

    .change-password-form .form-label {
        font-size: 1rem;
    }

    .change-password-form .form-control {
        height: 30px;
        font-size: 0.75rem;
    }

    .change-password-form .btn {
        font-size: 0.875rem;
    }
}
