@media (max-width: 768px) {
  .footer-title-for-mobile {
    font-size: 25px !important;
  }

  .footer-description-for-mobile {
    font-size: 16px !important;
  }

  .card .card-body {
    padding: 0 10px !important;
  }
}
