.button-group {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px; /* Spațiu între butoane și tabel */
}

.option-button {
  background-color: transparent;
  border: 1px solid transparent; /* Culoarea bordurii */
  padding: 7px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Tranziție pentru efecte */
  border-radius: 5px;
  font-weight: bolder;
}

.option-button:hover {
  color: #1967d2;
}

.active {
  background-color: #e7f3ff; /* Culoarea de fundal pentru butonul activ */
  color: #1967d2; /* Culoarea textului pentru butonul activ */
}

.active:hover {
  color: #1967d2; /* Culoarea textului pentru butonul activ */
}

/* Media query pentru dispozitive mobile */
@media (max-width: 768px) {
  .option-button {
    font-size: 12px; /* Dimensiune font mai mică pe mobil */
    padding: 10px; /* Ajustează padding-ul dacă este necesar */
    min-width: fit-content;
  }
}
