/* MAI JOS AI STILURILE PENTRU ACEL LEFT SIDE BAR CU LINKURI */
.option-button1 {
  padding: 10px 20px;
  text-align: left;
  color: #232a31;
  text-decoration: none;
  border: 1px solid transparent; /* Border transparent pentru a păstra dimensiunea */
  margin-bottom: 5px; /* Spațiu între linkuri */
  transition: background-color 0.3s;
}

.option-button1:hover {
  color: #1967d2;
  text-decoration: none;
}

.option-button1.active {
  background-color: #e7f5ff;
  color: #1967d2;
  border-radius: 5px;
}

.button-group1 {
  position: sticky;
  top: 70px; /* Rămâne lipit de partea de sus a ecranului */
  background-color: transparent; /* Fundal alb pentru a se distinge de conținutul din spate */
  z-index: 100; /* Asigură-te că este deasupra altor elemente */
  padding: 10px 0; /* Spațiu interior pentru un aspect mai plăcut */
}

@media (max-width: 768px) {
  .option-button1 {
    font-size: 12px; /* Dimensiune font mai mică pe mobil */
    padding: 10px; /* Ajustează padding-ul dacă este necesar */
    min-width: fit-content;
  }
}
