.chart-controls {
  display: flex;
  justify-content: flex-start; /* Aliniază butoanele la stânga */
  margin-bottom: 10px; /* Spațiu între butoane și grafic */
}

.chart-controls button {
  margin-right: 10px; /* Spațiu între butoane */
  padding: 5px 10px; /* Spațiu interior pentru butoane */
  background-color: #4caf50; /* Culoarea de fundal a butoanelor */
  color: white; /* Culoarea textului */
  border: none; /* Fără margine */
  border-radius: 5px; /* Colțuri rotunjite */
  cursor: pointer; /* Cursor pointer pentru butoane */
}

.chart-controls button:hover {
  background-color: #45a049; /* Culoare la hover */
}

.price-display {
  text-align: right; /* Aliniază prețul la dreapta */
  font-size: 18px; /* Dimensiune mai mare pentru preț */
  margin-bottom: 10px; /* Spațiu între preț și grafic */
}

.chartjs-tooltip {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.chart-controls button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #333;
}

.chart-controls button.active {
  background-color: #4caf50; /* Culoare pentru butonul activ */
  color: white;
}

.chart-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.chart-controls button {
  background-color: #71c774; /* Culoare de fundal pentru butoane */
  color: white; /* Culoare text */
  border: none; /* Fără bordură */
  padding: 10px 15px; /* Padding pentru butoane */
  cursor: pointer; /* Cursor pointer */
  border-radius: 5px; /* Colțuri rotunjite */
  transition: background-color 0.3s; /* Tranziție pentru hover */
}

.chart-controls button:hover {
  background-color: #45a049; /* Culoare de fundal la hover */
}

.chart-controls button.active {
  background-color: #398bff; /* Culoare pentru butonul activ */
}

.chart-type-controls {
  display: flex;
  justify-content: flex-end; /* Aliniere la dreapta */
  margin-bottom: 10px; /* Spațiu deasupra */
}

.chart-type-controls button {
  background-color: #f0f0f0; /* Culoare de fundal pentru butoanele de tip grafic */
  color: #333; /* Culoare text */
  border: 1px solid #ccc; /* Bordură */
  padding: 10px 20px; /* Padding pentru butoane */
  cursor: pointer; /* Cursor pointer */
  border-radius: 5px; /* Colțuri rotunjite */
  margin: 5px; /* Spațiu între butoane */
  transition: background-color 0.3s; /* Tranziție pentru hover */
}

.chart-type-controls button:hover {
  background-color: #e0e0e0; /* Culoare de fundal la hover */
}

.chart-type-controls button.active {
  background-color: #398bff; /* Culoare pentru butonul activ */
  color: white; /* Culoare text pentru butonul activ */
}

.numeUnic {
  display: flex;
  justify-content: space-between;
}
