/* Quote.css */

/* General container styling */
.quote-container {
  padding: 16px;
  background-color: #f8f9fa;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  min-height: 89.5vh; /* Asigură că containerul ocupă întreaga înălțime a ferestrei */
  justify-content: center;
  width: 100%;
}

@media (max-width: 991px) {
  .quote-container {
    flex-direction: column;
  }
}

.market-container {
  /* width: 100%; */
  max-width: 1200px;
  /* margin: 0 auto; */
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  padding: 16px;
  flex: 1;
  /* overflow-x: auto; */
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #232a31;
  text-align: center;
}

/* Asset details section */
.asset-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}

.asset-price {
  margin-top: -5px;
}

.asset-price .price {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  margin-right: 10px;
}

.asset-price .change {
  font-size: 20px;
  font-weight: 600;
}

.asset-price .change.positive {
  color: #28a745;
}

.asset-price .change.negative {
  color: #dc3545;
}

.asset-stats {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.stat {
  flex: 1 1 200px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.asset-price .close-time {
  margin-top: -5px;
}

.stat .label {
  font-weight: bold;
  color: #555;
}

.stat .value {
  color: #000;
}

.symbol-title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-top: 5px;
}

.asset-stats {
  display: flex;
  flex-wrap: wrap; /* Permite rânduri multiple */
  gap: 16px; /* Spațiu între coloane */
}

.stat-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; /* Asigură că containerul folosește toată lățimea */
}

.stat {
  flex: 1 1 calc(33.33% - 16px); /* 3 coloane pe dispozitive mai mari */
  box-sizing: border-box; /* Include padding în lățime */
}

@media (max-width: 768px) {
  .stat {
    flex: 1 1 calc(50% - 16px); /* 2 coloane pe dispozitive medii */
  }
}

/* Responsive design */
@media (max-width: 768px) {
  .asset-details {
    flex-direction: column;
    gap: 8px;
  }

  .asset-price {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .page-title {
    font-size: 20px;
  }

  .asset-price .price {
    font-size: 24px;
  }

  .asset-price .change {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .asset-stats {
    display: grid; /* Activează Grid */
    grid-template-columns: repeat(2, 1fr); /* 2 coloane egale */
    gap: 10px 35px; /* Spațiu între elemente */
  }

  .asset-stats .stat {
    display: grid; /* Activează Grid */
    grid-template-columns: 1fr; /* O singură coloană */
    gap: 2px; /* Spațiu între elemente */
    padding-bottom: 2px;
  }
}
