@media (max-width: 768px) {
  .sign-in-title-mobile {
    font-size: 35px !important;
  }

  .sign-in-small-padding {
    padding: 20px 15px !important;
    /* margin-top: -20vh !important; */
  }

  .sign-up-small-padding {
    padding: 20px 15px !important;
    /* margin-top: -8vh !important; */
  }
}
