.search-container {
  position: relative;
  width: 100%; /* Asigură-te că containerul ocupă 100% din lățime */
}

.search-input {
  width: 100%; /* Asigură-te că inputul ocupă 100% din lățime */
  height: 50px; /* Poți ajusta înălțimea după cum dorești */
  border-radius: 30px;
  padding-left: 35px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888;
}

search-wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.search-box {
  position: relative;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  transition: all 0.3s ease;
}

/* .search-box:focus-within {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
} */

.search-input {
  border-radius: 50px;
  padding-left: 45px;
  padding-right: 20px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  height: 50px;
}

/* .search-input:focus {
  border-color: #0d6efd;
  box-shadow: none;
} */

.search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
  z-index: 10;
}

.search-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  padding: 10px 40px;
  transition: all 0.3s ease;
  min-height: 95%;
}

.search-button:hover {
  background-color: green;
  transform: translateY(-50%) scale(1.05);
}

.search-button i {
  color: white;
  position: absolute;
  left: 44%;
}

.clear-button {
  position: absolute;
  right: 90px;
  top: 54%;
  transform: translateY(-50%);
  border-radius: 50px;
  transition: all 0.3s ease;
  min-height: fit-content;
}

.clear-button:hover {
  background-color: green;
}
