.search-container {
  position: relative;
  width: 100%; /* Asigură-te că containerul ocupă 100% din lățime */
}

.search-input {
  width: 100%; /* Asigură-te că inputul ocupă 100% din lățime */
  height: 50px; /* Poți ajusta înălțimea după cum dorești */
  border-radius: 30px;
  padding-left: 35px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888;
}

search-wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.search-box {
  position: relative;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  transition: all 0.3s ease;
}

/* .search-box:focus-within {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
} */

.search-input {
  border-radius: 50px;
  padding-left: 45px;
  padding-right: 20px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  height: 50px;
}

/* .search-input:focus {
  border-color: #0d6efd;
  box-shadow: none;
} */

.search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
  z-index: 10;
}

.search-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  padding: 10px 40px;
  transition: all 0.3s ease;
  min-height: 95%;
}

.search-button:hover {
  transform: translateY(-50%) scale(1.05);
}

.search-button i {
  color: white;
  position: absolute;
  left: 44%;
}

.clear-button {
  position: absolute;
  right: 90px;
  top: 54%;
  transform: translateY(-50%);
  border-radius: 50px;
  transition: all 0.3s ease;
  min-height: fit-content;
}

.clear-button:hover {
  background-color: green;
}

/* ____________________ */
/* rezultatul cautarii din search bar pe Desktoop */
/* ____________________ */

.search-bar-for-desktop {
  position: relative;
}

.results-container {
  position: absolute; /* Face ca div-ul să plutească peste conținut */
  top: 3.8rem; /* Poziționează div-ul imediat sub bara de căutare */
  left: 0; /* Aliniază la stânga */
  right: 0;
  background-color: #ffffff;
  color: white; /* Text alb pentru contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Umbră pentru adâncime */
  z-index: 10; /* Asigură-te că este deasupra altor elemente */
  padding: 10px; /* Spațiu interior */
  border-bottom-left-radius: 1.5rem; /* Colțuri rotunjite */
  border-bottom-right-radius: 1.5rem; /* Colțuri rotunjite */
  min-height: fit-content; /* Limitează înălțimea maximă */
}

.results-container a {
  text-decoration: none !important;
}

.results-container h3 {
  margin: 0 0 10px; /* Margine pentru titluri */
  font-size: 16px; /* Dimensiune font pentru titluri */
  color: #232a31; /* Culoare pentru titluri */
  font-weight: 600;
}

.results-container ul {
  list-style-type: none; /* Elimină punctele din listă */
  padding: 0; /* Elimină padding-ul */
}

.results-container li {
  padding: 5px 0; /* Spațiu între elementele listei */
  border-bottom: 1px solid rgb(221, 224, 228);
}

.results-container li:hover {
  background-color: #e7f5ff;
}

.notBorderHere li:last-child {
  border-bottom: none; /* Remove border from the last child */
}

.results-container .symbol-link {
  display: flex; /* Folosește flexbox pentru aliniere */
  align-items: center; /* Aliniază vertical */
  color: white; /* Text alb */
  text-decoration: none; /* Elimină sublinierea */
}

.results-container .symbol-link:hover {
  background-color: #333; /* Fundal mai deschis la hover */
  border-radius: 4px; /* Colțuri rotunjite la hover */
}

/* ______________________________________________ */
/* Cod pentru autocompletare searchbar for Mobile */
/* ______________________________________________ */

.search-results-overlay {
  position: fixed;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; /* Asigură-te că este deasupra altor elemente */
  overflow-y: auto; /* Permite derularea rezultatelor */
  padding: 20px; /* Spațiu interior pentru conținut */
}

.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 20px; /* Spațiu sub buton */
}

.search-bar-for-mobile .clear-button {
  position: absolute;
  right: 10px;
  top: 21px;
}

.search-bar-for-mobile .clear-button i {
  font-size: 18px;
}

.results-container-for-mobile {
  top: 0;
  min-height: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

body.no-scroll {
  overflow: hidden; /* Previne derularea paginii */
}
